﻿@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<b>Autocomplete test</b>
<input type="text" data-autocomplete-url="@Url.Action("GetUsers", "Datafeed")" />
<hr/>
<input type="button" value="Test ajax redirect" onclick="testAjaxRedirect();" />
<div id="res">no data</div>

<h3>Combobox bind example (with after post restore comboboxes select items - without using ViewBag)</h3>
@using(Html.BeginForm())
{
    <div>
        <p>
            @*Countries: @Html.DropDownList("Country", DataItems.Countries)*@
        </p>
        <p>
            States: @Html.DropDownList("State", DataItems.StatesOfUSA, "-Select-")
        </p>
    </div>
    <div>
        <input type="submit" value="submit" />
    </div>
}

<div style="padding-top: 10px;">
    <p>Date: <input type="text" id="datepicker" size="30"></p>
</div>

<h3>Test ajax client messages</h3>
<a href="javascript:testAjaxMessages();">Test messages</a>

<div>
    <input type="button" value="ALERT" onclick="testAlert()" />
    &nbsp;
    <input type="button" value="CONFIRM" onclick="testConfirm()" />
    &nbsp;
    <input type="button" value="DIALOG" onclick="testDialog()" />
</div>

<script type="text/javascript">

    function testAlert() {
        SiteDialog.alert('alert show', function() { alert('alert closed'); });
    }

    function testConfirm() {
        SiteDialog.confirm('confirm show', function(isConfirmed) { alert('confirm result: ' + isConfirmed); });
    }

    function testDialog() {
        var dialog = SiteDialog.show({
            body: 'test message',
            title: 'test',
            close: function () { alert('closed'); },
            buttons: [
                {
                    text: 'Yes',
                    click: function () { alert('Yes'); }
                },
                {
                    text: 'No',
                    click: function () { alert('No'); }
                },
                {
                    text: 'Cancel',
                    click: function () {
                        dialog.close(); alert('Cancel');
                    }
                }
            ]
        });
    }

    function testAjaxRedirect() {
        $("#res").load('@Url.Action("TestAjaxRedirect", "Test")');
    }
    function testAjaxMessages() {

        $.ajax({
            method: "POST",
            url: '@Url.Content("~/api/TestApi/SaveTest")',
            contentType: "application/json",
            data: $.toJSON({ FirstString: "TEST string" }),
            success: function() {
                alert('success');
            }
        });

        $.ajax({
            cache: false,
            url: '@Url.Action("TestAjaxMesssages")'
        });
    }

    $(function () {
        $("#datepicker").datepicker();       
    });
</script>
