﻿@model BaseApp.Web.Models.ShopTest.GetGoodsPartialViewModel
@{
    Layout = null;
}
@foreach (var order in Model.Goods)
{
    <div class="row">
        <div data-good-id="@order.Id" class="col-md-12 good-col">
            @order.Name
        </div>
    </div>
}

