﻿@model BaseApp.Web.Models.ShopTest.GetOrdersPartialViewModel
@{
    Layout = null;
}
@foreach (var order in Model.Orders)
{
    <div class="row">
        <div data-order-id="@order.Id" class="col-md-10 order-col">
            @order.Name
        </div>
    </div>
}
