﻿@model BaseApp.Web.Models.ShopTest.ShopTestIndexViewModel
@{
    ViewBag.Title = "Shop test";
}

<h2>Shop test</h2>
<div class="container">
    <div class="row">
        <div id="userContainer" class="col-md-4">
            <h3>Users</h3>
            @foreach (var user in Model.Users)
            {
                <div class="row">
                    <div data-user-id="@user.Id" class="col-md-12 user-col">
                        @user.Name
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <h3>User Orders</h3>
            <div id="userOrders">

            </div>
        </div>
    </div>
    <div class="row">
        <h3>Order Goods</h3>
        <div id="orderGoods" class="col-md-8">
            
        </div>
    </div>
</div>

<script type="text/javascript">


    $(function () {

        $('#userContainer').on('click', '.user-col', function() {
                var userId = $(this).attr('data-user-id');
                $.get('@Url.Action("GetOrdersPartial")' + '?userId=' + userId)
                    .done(function (hresp) {
                        $('#userOrders').html(hresp);
                        $('#orderGoods').html("");
                    }
                );
            });

            $('#userOrders').on('click', '.order-col', function() {
                var orderId = $(this).attr('data-order-id');
                $.get('@Url.Action("GetGoodsPartial")' + '?orderId=' + orderId)
                    .done(function (hresp) {
                        $('#orderGoods').html(hresp);
                        }
                    );
            }); 
    });
</script>