﻿@model BaseApp.Web.Areas.HelpPage.Code.TestApiModel
@{
    var apiMethodPath = string.Format("Api/{0}/{1}", Model.Controller, Model.Action);
    var previousPage = HttpContext.Current.Request.UrlReferrer;
    ViewBag.Title = apiMethodPath;  
}

<div>
    <a href="@(previousPage != null ? previousPage.OriginalString : Url.Action("Index", "Help"))">Back to List</a>
</div>

<h2>@ViewBag.Title</h2>
@{
    //Html.EnableClientValidation(false);   
}
<form action= '@Url.Content(string.Format("~/{0}", apiMethodPath))' method="@Model.Method.ToString()" enctype="@(!string.IsNullOrEmpty(Model.EncType) ? Model.EncType : "application/x-www-form-urlencoded")">
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend></legend>
        @if (Model.Model != null)
        {
            @Html.Partial("_ObjectModelEditor", Model.Model)
        }
        <p>
            <input type="submit" value="@Model.Method.ToString()" />
        </p>
    </fieldset>
</form>
<script>
    $(function() {
       $("[type='datetime']").datepicker();

       $(document).on("click", ".collectionItemRemoveAction", collectionItemRemove);
       $(document).on("click", ".collectionItemAddAction", collectionItemAdd);

       removeCollectionItemsNames();

    });
    
    function removeCollectionItemsNames() {
        $(".collectionItemsHidden *[name]").each(function () {
            var $this = $(this);
            if (!$this.hasClass("hidden")) {
                var name = $this.attr("name");
                $this.removeAttr("name");
                $this.attr("data-name", name);
            }
        });
    }

    function collectionItemRemove() {
        var $this = $(this);
        var container = $(this).closest(".collection");
        var removeItem = $this.closest(".collectionItem");
        removeItem.remove();

        adjustCollectionItemNames(container);
    }

    function collectionItemAdd() {
        var container = $(this).closest(".collection");
        var containerId = container.attr("data-id");
        var item;
        var colItemToClone = $(".collectionItemsHidden[forContainer='" + containerId + "'] .collectionItem[forContainer='" + containerId + "']:first", container);
        if (colItemToClone.length > 0) {
            item = $(colItemToClone[0].outerHTML);
        }
        else {
            alert("Not found template");
            return;
        }

        $("[data-name]", item).each(function () {
            var $this = $(this);
            var dataContainer = $this.closest(".collection");
            if (dataContainer.length == 0) {
                if ($this.attr("name")) {
                    alert("Name found for - " + $this.attr("name"));
                }
                $this.attr("name", $this.attr("data-name"));
            }
        });

        $(".collectionItems[forContainer='" + containerId + "']", container).append(item);
        adjustCollectionItemNames(container);
    }

    function adjustCollectionItemNames(container) {
        var containerId = container.attr("data-id");
        var children = $(".collectionItems[forContainer='" + containerId + "'] .collectionItem[forContainer='" + containerId + "']", container);

        if (children.length > 0) {

            var prefix = container.attr("data-prefix");

            for (var i = 0; i < children.length; i++) {
                var child = $(children[i]);
                var childItems = $("[data-name], .collection[data-prefix]", child);

                childItems.each(function () {
                    var $this = $(this);
                    var name = $this.attr("name");
                    var dataName = $this.attr("data-name");
                    var dataPrefix = $this.attr("data-prefix");

                    if (dataName && dataName != "") {
                        var newName = replaceName(dataName, prefix, i);
                        $this.attr("data-name", newName);
                        if (name && name != "") {
                            $this.attr("name", newName);
                        }
                    }

                    if (dataPrefix && dataPrefix != "") {
                        var newPrefix = replaceName(dataPrefix, prefix, i);
                        $this.attr("data-prefix", newPrefix);
                    }
                });
            }
        }
    }

    function replaceName(attrName, strStart, i) {
        var startNew = strStart + "[" + i + "]";
        var newName = attrName.replace(strStart, "");
        if (newName[0] == '[') {
            var indexClose = newName.indexOf("]");
            if (indexClose < 0 || indexClose > 3) {
                alert("indexClose is invalid: " + indexClose);
                throw new Error("indexClose is invalid: " + indexClose);
            }
            newName = newName.substring(indexClose + 1);
            return startNew + newName;
        }
        else {
            alert("Attribute name first '[' find error: " + attrName);
            throw new Error("Attribute name first '[' find error: " + attrName);
        }
    }
   
</script>
