﻿@using BaseApp.Web.Areas.HelpPage.Code
@model GenericApiTestModel
@{
    ViewBag.Title = "GenericApiTest";
    var data = Model ?? new GenericApiTestModel();

    var previousPage = HttpContext.Current.Request.UrlReferrer;
}

<h2>GenericApiTest</h2>

<style type="text/css">
    .labelText {
        width: 100px;
        display: inline-block;
        vertical-align: top;
    }
</style>

<div>
    <a href="@( previousPage != null ? previousPage.OriginalString : Url.Action("Index", "Home"))">Back to List</a>
</div>

<h2>Test Post JSON</h2>

<fieldset>
    <p>
        <span class="labelText">URL:</span>
        <input id="URL" name="URL" type="text" value="@data.Url" style="width: 800px;">
    </p>
    <p>
        <span class="labelText">BODY:</span>
        <textarea cols="30" id="BODY" name="BODY" rows="10" style="width: 800px;">@data.JsonBody</textarea>
    </p>
    
     <p>
         <span class="labelText">Response:</span>
         <textarea cols="30" id="Response" name="Response" rows="10" style="width: 800px;"></textarea>
    </p>

    <p>
        <a href="#" onclick="send(); return false;">Send</a>
    </p>
</fieldset>


<script type="text/javascript">
    function send() {
        $('#Response').val("Loading...");
        $.ajax({
            type: "POST",
            url: $('#URL').val(),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: $('#BODY').val(),
            success: function (data) {
                $('#Response').val(JSON.stringify(data));
            },
            error: function (data) {
                $('#Response').val(JSON.stringify(data));
            }
       });
    };
</script>
