﻿@{
    ViewBag.Title = "NoTestMethod";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                @Html.ActionLink("Help Page Home", "Index")
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        Test method unavailable for this action
    </section>
</div>