﻿@model BaseApp.Web.Models.Account.UserProfileModel
<div id="divProfileInfo">
@using (Ajax.BeginForm("UserProfile", "Account", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "divProfileInfo", LoadingElementId = "spnProfileSubmit" }, new { role = "form", @class = "form-horizontal" }))
{
    <p>
        @Html.ValidationSummary(true)
    </p>
    <fieldset>
        <legend>User Profile</legend>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Login, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                &nbsp;<a href="javascript:void(0);" class="changePasswordUrl">Change password</a>
                @Html.ValidationMessageFor(m => m.Login)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <input type="submit" value="Save" class="btn btn-default" />
                <span id="spnProfileSubmit" style="color: gray; font-size: smaller; display: none;">&nbsp;Loading...</span>
            </div>
        </div>
        
    </fieldset>
}
</div>

<script type="text/javascript">

    $(function () {
        $(".changePasswordUrl").click(function() {
            var dialogSettings = { title: "Change Password", saveBtnText: "Change Password" };
            SiteDialog.saveFormDialog("@Url.Action("_ChangePassword")", dialogSettings);
        });
    });

</script>