﻿@model BaseApp.Web.Models.Account.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "..\\Shared\\_LayoutPopup.cshtml";
}
<div class="col-md-12">
    <h2>Change Password</h2>
    <p>
        Use the form below to change your password.
    </p>
    <p>
        New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
    </p>

    @using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {

        <p>
            @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        </p>

        <fieldset>
            <legend>Account Information</legend>

            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-7">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-7">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-7">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-7">
                    <input type="submit" value="Change Password" class="btn btn-default" />
                </div>
            </div>
        </fieldset>

    }
</div>