﻿@model BaseApp.Web.Models.Account.CompleteResetPasswordModel

@{
    ViewBag.Title = "Complete Reset Password";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}


@using (Html.BeginForm("CompleteResetPassword", "Account", FormMethod.Post, new { role = "form", @class = "form-horizontal form-forgot-password" }))
{
    <h2>Complete Reset Password</h2>
    <div>
        <fieldset>
            <legend>Please enter your new password</legend>
         
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-5">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder= Html.DisplayNameFor( m => m.NewPassword )  })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
           
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-5">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <input type="submit" value="Reset password" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>
}