﻿@model BaseApp.Web.Models.Account.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", null, FormMethod.Post, new { role = "form", @class = "form-horizontal form-forgot-password" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Forgot Password</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-5 control-label">Please, enter your email address:</label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => m.Email, new { data_focus = true, @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-5">
                        <input type="submit" class="btn btn-default" value="Send reset password link" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
       

