﻿@model BaseApp.Web.Models.Account.LogOnModel

@{
    ViewBag.Title = "Log On";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

@using (Html.BeginForm("LogOn", "Account", null, FormMethod.Post, new { role = "form", @class = "form-horizontal form-signin" }))
{

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.UserName, new { data_focus = true, @class = "form-control", placeholder = Html.DisplayNameFor(m => m.UserName) })
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.PasswordFor(m => m.Password, new {data_focus = true, @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password),})
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-default" value="Log On" />
                    &nbsp;
                    @Html.ActionLink("Forgot password?", "ForgotPassword", null, new { @class = "btn" })
                </div>
            </div>
            
        </div>
        <div class="panel-footer">
            <a href="@Url.Action("Register", "Account")">Register</a> if you don't have an account.
        </div>
    </div>
}
        


    
