@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using BaseApp.Web.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "ASP.NET Web API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
@*<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>*@
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                Web Api services descriptions.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div id="apiTabs">
            <ul>
                @foreach(var group in apiGroups)
                {
                    <li><a href="#apiTabs-@group.Key.ControllerName">@group.Key.ControllerName</a></li>
                }
            </ul>
            @foreach (var group in apiGroups)
            {
                <div id="apiTabs-@group.Key.ControllerName">
                    @Html.DisplayFor(m => group, "ApiGroup")
                </div>
            }
        </div>
    </section>
</div>
<script type="text/javascript">
  $(function() {
      apiHelpHandler.Init();
  });

  var apiHelpHandler = new function () {

      var uiElements = { };

      this.Init = function () {
          uiElements.ApiTabs = $("#apiTabs");
          
          uiElements.ApiTabs.tabs({
              activate: function (event, ui) {
                  // getter
                  var active = uiElements.ApiTabs.tabs("option", "active");
                  setCookie(active);
              }
          });

          var prevIdx = retrieveCoockie();
          if (prevIdx>=0) {
              uiElements.ApiTabs.tabs("option", "active", prevIdx);
          }
          
      };
      
      function setCookie(tabIdx) {
          document.cookie = "apitab=" + tabIdx + '; path=/';
      }

      function retrieveCoockie() {
          var key = "apitab";
          var currentcookie = document.cookie;
          if (currentcookie.length > 0) {
              var firstidx = currentcookie.indexOf(key + "=");
              if (firstidx != -1) {
                  firstidx = firstidx + key.length + 1;
                  var lastidx = currentcookie.indexOf(";", firstidx);
                  if (lastidx == -1) {
                      lastidx = currentcookie.length;
                  }
                  return parseInt(unescape(currentcookie.substring(firstidx, lastidx)));
              }
          }
          return -1;
      }
  };
</script>