﻿@model BaseApp.Web.Models.Errors.ErrorInfoModel

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Application Error</title>
</head>
<body style="margin:0; padding:0 4px; font-family:Arial, Helvetica, Sans-Serif; background: #c4c4c4">
    <div id="header" style="font-weight:bold; font-size:20px; color:#162451;">
        <div style="text-align:center; float:left; width:890px; padding-top:3px"><!--title--></div>
    </div>
    <table cellpadding="0" cellspacing="0" style="z-index:1000; float:left;">
        <tr>
            <td style="vertical-align:top; padding-top:7px">
                <div id="TestDescription" style="margin-top:0px; float:left; width:197px; margin-top:35px">
                    &nbsp;
                </div>
            </td>
            <td><table cellpadding="0" cellspacing="0" width="870px" style="float:left; margin-left:5px">
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr height="14">
                            <td width="14"><img src='@Url.Content("~/Content/Images/01-02.gif")' width="14" height="14"></td>
                            <td width="100%" valign="top" bgcolor="#f9f9f9"><div style="border-top:1px solid #b6b6b6;height:13px">&nbsp;</div></td>
                            <td width="14"><img src='@Url.Content("~/Content/Images/01-03.gif")' width="14" height="14"></td>
                       </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#f9f9f9" style="border-left:1px solid #b6b6b6;border-right:1px solid #b6b6b6">
                        <tr>
                            <td align="center">
                                <span>
                                    @DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="height:100px; display:block; text-align:center; margin-top:30px;">
                                    <div style="margin-bottom:10px; font-weight: bold;">
                                        An internal error has occurred.
                                    </div>
                                    <div style="margin-bottom:3px;">
                                        <div style="font-size:12px">
                                            <span>
                                                Application encountered an unexpected error.<br /> 
                                                Please check back at a later time to see if the error has been resolved.
                                            </span>
                                        </div>
                                        <br />
                                        <b>
                                            <a href="@Url.Home()">Click here to return to home page.</a>
                                        </b>
                                    </div>
                                </div>
                                @if (Model.AllowShowMessage)
                                {
                                    <div id="divErrorDetails" style="margin-left: 30px; font-size: 14px; font-family: Consolas, Courier New, Courier; width: 820px; height: 610px; overflow: auto;">
                                        <pre>@Model.FormattedMessage</pre>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr height="14">
                            <td width="14"><img src='@Url.Content("~/Content/Images/01-04.gif")' width="14" height="14" /></td>
                            <td width="100%" valign="bottom" bgcolor="#f9f9f9"><div style="border-bottom:1px solid #b6b6b6;height:13px">&nbsp;</div></td>
                            <td width="14"><img src='@Url.Content("~/Content/Images/01-05.gif")' width="14" height="14" /></td>
                       </tr>
                    </table>
                </td>
            </tr>
        </table>
        </td>
        </tr>
    </table>    
</body>
</html>