﻿@using BaseApp.Web.Models.Example
@model BaseApp.Web.Models.Example.CountryListModel

@if (Model.Items.Any())
{
    <table class="table table-striped table-bordered paging-sorting">
        <thead>
            <tr>
                @(PagingSorting.SortLink<CountryListItemModel>(x => x.Name, Model.Args.PagingSortingInfo))
                @(PagingSorting.SortLink<CountryListItemModel>(x => x.NumericCode, Model.Args.PagingSortingInfo))
                @(PagingSorting.SortLink<CountryListItemModel>(x => x.Alpha2, Model.Args.PagingSortingInfo))
                @(PagingSorting.SortLink<CountryListItemModel>(x => x.Alpha3, Model.Args.PagingSortingInfo))
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.NumericCode
                    </td>
                    <td>
                        @item.Alpha2
                    </td>
                    <td>
                        @item.Alpha3
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @PagingSorting.Pagination(Model.Args.PagingSortingInfo)
}
else
{
    <div class="col-xs-12 paging-sorting-footer" style="margin-top: 0">No countries were found</div>
}
@PagingSorting.State(Model.Args)