﻿@functions
{
    private List<SelectListItem> TriStateValues
    {
        get
        {
            return new List<SelectListItem> {
                new SelectListItem { Text = "Not Set", Value = String.Empty, Selected = !Value.HasValue },
                new SelectListItem { Text = "True", Value = "true", Selected = Value.HasValue && Value.Value },
                new SelectListItem { Text = "False", Value = "false", Selected = Value.HasValue && !Value.Value },
            };
        }
    }


    private bool? Value
    {
        get
        {
            if (ViewData.Model == null)
            {
                return null;
            }
            return Convert.ToBoolean(ViewData.Model, System.Globalization.CultureInfo.InvariantCulture);
        }
    }
}
<div class="editor-field">
    @if (ViewData.ModelMetadata.IsNullableValueType)
    {
        @Html.DropDownList("", TriStateValues, new { @class = "list-box tri-state" })
    }
    else
    {
        <input type="checkbox" name="@(ViewData.TemplateInfo.GetFullHtmlFieldName(""))" value="true"
        @if (Value == true)
        {
            @:checked="checked"
        }
        />    
    }
</div>