﻿@using System.Collections
@if (Model != null) {
    string oldPrefix = ViewData.TemplateInfo.HtmlFieldPrefix;
    int index = 0;
    var collectionId = Guid.NewGuid();
    
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Empty;
        
    <div class="collection" style="padding-left: 10px;" data-id="@collectionId" data-prefix="@oldPrefix">
        <div style="padding-bottom: 5px;">
            <a href="javascript:void(0);" class="collectionItemAddAction">Add new</a>
        </div>
        <div class="collectionItemsHidden" style="display: none;" forContainer="@collectionId">
            @foreach (object item in (IEnumerable)Model) {
                string fieldName = String.Format(System.Globalization.CultureInfo.InvariantCulture, "{0}[{1}]", oldPrefix, index++);
                <div class="collectionItem" style="margin-top: 2px; padding-bottom: 2px;" forContainer="@collectionId">
                    <div class="collectionItemEl" style="float: left;">
                        @if(item is string)
                        {
                            <input type="text" name="@fieldName" class = "text-box single-line"/>
                            @Html.ValidationMessage(fieldName)
                        }
                        else
                        {
                            @Html.EditorFor(m => item, null, fieldName)    
                        }
                    </div>
                    <div class="collectionItemActions" style="float: left; padding-left: 5px;">
                        <a href="javascript:void(0);" class="collectionItemRemoveAction">Remove</a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            }        
        </div>
        <div class="collectionItems" forContainer="@collectionId"></div>
    </div>    
    ViewData.TemplateInfo.HtmlFieldPrefix = oldPrefix;
}