﻿@model object
@functions{
    bool ShouldShow(ModelMetadata metadata) 
    {
        return metadata.ShowForEdit
            //&& metadata.ModelType != typeof(System.Data.EntityState)
            //&& !metadata.IsComplexType
            && !metadata.IsReadOnly
            && !ViewData.TemplateInfo.Visited(metadata);
    }
}

@*@if (ViewData.TemplateInfo.TemplateDepth > 1)
{ 
    if (Model == null)
    {
        @ViewData.ModelMetadata.NullDisplayText   
    }
    else
    {
        @ViewData.ModelMetadata.SimpleDisplayText
    }
}
else*@
@{
    foreach (var prop in ViewData.ModelMetadata.Properties.Where(ShouldShow))
    {
        if (prop.HideSurroundingHtml)
        { 
            @Html.Editor(prop.PropertyName, prop.DataTypeName ?? prop.TemplateHint)
        }
        else
        {
            <div class="editor-label">
                @Html.Label(prop.PropertyName)
            </div>
            <div class="editor-field">
                @Html.Editor(prop.PropertyName, prop.DataTypeName ?? prop.TemplateHint)
                @Html.ValidationMessage(prop.PropertyName)
            </div>
        }
    }
}